@model SignalR_Mvc4.Infrastructure.User


<li class="list-group-item" style="padding: 1px; margin-bottom: 0;">
    <div class="btn btn-xs" style="width: 100%" onclick="showPrivateChat('@(Url.Action("PrivChat", "Home", new { id = Model.ConnectionId }))')">
        @Model.UserName
    </div>
</li>
