@using SignalR_Mvc4.Infrastructure
@{
    ViewBag.Title = "Chat";
}
<div class="row">
    <div class="col-lg-8">
        <h2>Chat</h2>
        <div class="input-group" style="margin-bottom: 2em;">
            <input type="text" id="message" class="form-control" />
            <span class="input-group-btn">
                <button type="button" id="sendmessage" class="btn btn-danger">Send</button>
            </span>
        </div>
        <ul id="discussion" class="list-group"></ul>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-3 logged-users-countainer">
        <h4>Connected Users (<span id="connectedUsers">0</span>):</h4>
        <ul id="logged-users" data-url="@Url.Action("ChatListItem")" class="list-group"></ul>
    </div>
</div>
<div id="private-dicussions-handler" data-url="@Url.Action("PrivChat")"></div>

@section scripts
{
    <script src="~/Scripts/jquery.signalR-2.1.2.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Scripts/ChatScripts/MainChatScript.js"></script>
}
