@model SignalR_Mvc4.Infrastructure.User

<div id="priv-@Model.ConnectionId" class="private-chat-container">
    <div class="private-chat-header">Priv with 
        @Model.UserName
        <button type="button" class="close" onclick="removeElement('#priv-@Model.ConnectionId')">
            <span class="glyphicon glyphicon-remove-circle"></span>
        </button>
    </div>
    <div class="private-discussion-container">
        <ul id="private-discussion" class="list-group"></ul>
    </div>
    <div class="input-group input-group-sm private-message-box">
        <input type="text" id="private-message" placeholder="Write your message..." class="form-control" />
        <span class="input-group-btn">
            <button type="button" id="sendmessage" class="btn btn-primary btn-sm">Send</button>
        </span>
    </div>
</div>
